@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* PURPLES */
  --color-purple10: #F8F8FF;
  --color-purple9:  #E1E1FF;
  --color-purple8:  #CDCDFF;
  --color-purple7:  #BBBBFF;
  --color-purple6:  #A7A7FF;
  --color-purple5:  #9393FF;
  --color-purple4:  #8282FF;
  --color-purple3:  #6B6BFF;
  --color-purple2:  #5D5DFF;
  --color-purple1:  #4F4FFF;

  /* WHITE */
  --color-blanco: #FFFFFF;

  /* MORA */
  --color-mora9: #FAF8FF;
  --color-mora8: #F0E8FF;
  --color-mora7: #E3D4FF;
  --color-mora6: #CCB4FA;
  --color-mora5: #B997F9;
  --color-mora4: #A57BF5;
  --color-mora3: #935FF5;
  --color-mora2: #8249EF;
  --color-mora1: #6E2EE7;

  /* NEGROS */
  --color-negro10: #F0F3FF;
  --color-negro9:  #DDE0F1;
  --color-negro8:  #B1B6D0;
  --color-negro7:  #8F94B0;
  --color-negro6:  #6A708C;
  --color-negro5:  #4B506B;
  --color-negro4:  #30344A;
  --color-negro3:  #1A1D2C;
  --color-negro2:  #0F1116;
  --color-negro1:  #000000;

  --color-whatsapp: #00d95f;
  --color-github: #1a1d2c;
  --color-instagram: #9339a6;
  --color-gmail: #ea4335;
  --color-linkedin: #006699;
  --color-disable: #A9AFD9;
  --color-green: #389E0D;

  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1366px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2000px;

  --radius-lg: 28px;
  --radius-full: 999px;

  --font-lato: "lato", sans;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-xs--line-height: 1.33rem;
  --text-sm--line-height: 1.29rem;
  --text-base--line-height: 1.25rem;
  --text-lg--line-height: 1.22rem;
  --text-xl--line-height: 1.2rem;

  --spacing-25:25px;
  --spacing-38:38px;
  --spacing-42:42px;
  --spacing-46:46px;
  --spacing-54:54px;
  --spacing-89:89px;
  --spacing-100:100px;
  --spacing-120:120px;
  --spacing-140:140px;
  --spacing-159:159px;
 
}
